/*
some of the styles
*/

body, table{
    margin: auto;
    text-align: center;
}

h1{
    color: grey;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: red;
}
a:hover{
    color: black;
    text-decoration: underline;
}

img{
    border: 8px solid lightblue;
    padding: 10px;
}

img:hover{
    border: 9px solid red;
}